<?xml version="1.0" encoding="utf-8"?>
<!--
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**
** Copyright	2012 Dominik Pretzsch
**				    2017 NetKnights GmbH
**
** Author		  Dominik Pretzsch
**				    Nils Behlen
**
**    Licensed under the Apache License, Version 2.0 (the "License");
**    you may not use this file except in compliance with the License.
**    You may obtain a copy of the License at
**
**        http://www.apache.org/licenses/LICENSE-2.0
**
**    Unless required by applicable law or agreed to in writing, software
**    distributed under the License is distributed on an "AS IS" BASIS,
**    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**    See the License for the specific language governing permissions and
**    limitations under the License.
**
** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <!-- PAGE 1-->
            <TextStyle Id="Tahoma_Bold" FaceName="Tahoma" Size="8" Bold="yes" />
            <Dialog Id="ServerConfigurationDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="HttpsLabel" Type="Text" X="45" Y="58" Width="34" Height="15" TabSkip="no" Text="https://" />
                <Control Id="HostnameEdit" Type="Edit" X="75" Y="55" Width="115" Height="18" Property="HOSTNAME" />
                <Control Id="PathEdit" Type="Edit" X="195" Y="55" Width="90" Height="15" Property="PATH" />
                <Control Id="EnvironmentUrlLabel" Type="Text" X="45" Y="80" Width="65" Height="15" TabSkip="no" Text="Environment URL:" />
                <Control Id="EnvironmentUrl" Type="Edit" X="115" Y="80" Width="170" Height="15" Property="ENVIRONMENTURL" />
                <Control Id="DomainLabel" Type="Text" X="45" Y="100" Width="40" Height="15" TabSkip="no" Text="Domain:" />
                <Control Id="Domain" Type="Edit" X="80" Y="100" Width="205" Height="15" Property="DOMAIN" />
                <Control Type="Text" Id="ExcludedAccountLabel" Width="74" Height="17" X="45" Y="120" Text="Fail-safe User:" />
                <Control Type="Edit" Id="ExcludedAccountEdit" Width="169" Height="15" X="117" Y="120" Property="EXCLUDEDUSER" />
				<Control Id="ApiKeyLabel" Type="Text" X="45" Y="140" Width="50" Height="15" TabSkip="no" Text="Shared Key:">
					<Condition Action="disable">CREDENTIAL_MODE="90"</Condition>
					<Condition Action="enable">CREDENTIAL_MODE="10" or CREDENTIAL_MODE="100"</Condition>
				</Control>
				<Control Id="ApiKey" Type="Edit" X="90" Y="140" Width="195" Height="15" Property="APIKEY">
					<Condition Action="disable">CREDENTIAL_MODE="90"</Condition>
					<Condition Action="enable">CREDENTIAL_MODE="10" or CREDENTIAL_MODE="100"</Condition>
				</Control>
				<Control Type="GroupBox" Id="Groupy" Width="240" Height="42" X="45" Y="161" Text="Operating Mode" />
				<Control Type="RadioButtonGroup" Property="CREDENTIAL_MODE" Id="RadioGroup" Width="220" Height="30" X="50" Y="170">
                    <RadioButtonGroup Property="CREDENTIAL_MODE">
                        <RadioButton Text="Secure Login" Height="30" Value="90" Width="60" X="0" Y="0" ToolTip="Install credential profider for secure 2FA login"/>
                        <RadioButton Text="Elevated Login" Height="30" Value="10" Width="70" X="70" Y="0" ToolTip="Install credential provider for elevated 2FA login"/>
						<RadioButton Text="Elevated Login/ Secure Login" Height="30" Value="100" Width="70" X="145" Y="0" ToolTip="Install credential provider that is capable of both the Elevated (2FA administrator) and Secure (2FA) login"/>
					</RadioButtonGroup>
                </Control>

				<Control Id="ReleaseVersionLog" Type="CheckBox" X="45" Y="210" Width="180" Height="17" Property="RELEASE_LOG" CheckBoxValue="1" Text="Create log file" />

                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="VerifyReadyDlg">HOSTNAME</Publish>
                    <Publish Event="ReinstallMode" Value="m" Order="1">Installed</Publish>
                    <Publish Event="Reinstall" Value="MainInstall" Order="2">Installed</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Setup hostname, path and properties.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>